body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 600px;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 5%);
}

.left {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  color: hsl(241, 100%, 89%);
  text-align: center;
}

.right {
  padding: 20px;
  color: hsl(224, 30%, 27%);
  width: 50%;
}

.left-score {
  padding: 50px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
}

.total-score {
  font-weight: 800;
  font-size: 60px;
}

.out-of-score {
  font-size: 18px;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
}

.left-text h2 {
  color: white;
  font-weight: 700;
}

.left-text p {
  font-weight: 500;
  font-size: 18px;
}

.score-con {
  display: flex;
}

.score {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.score img {
  padding-right: 10px;
}

.scores-reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
.scores-memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
.scores-verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
.scores-visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

.right {
  padding-left: 0px 30px;
}
.black-score {
  color: black;
}

.grey-score {
  color: rgb(0, 0, 0, 0.4);
}

button {
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px;
  width: 100%;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
}
